<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.hammarstrom.copycatlibrary">

    <application android:theme="@style/AppTheme">
        <activity
            android:name=".ui.main.CopycatActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" />
        <activity android:name=".ui.requestdetail.RequestDetailActivity" />
    </application>

</manifest>
